
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h5,h6{
    font-family: 'Oswald', sans-serif;

}


h1.title, h2.title,button{
    font-family: 'Oswald', sans-serif;
}

.blog h2{
font-size: 170%;
}


p,li, a {
    font-family: 'Open Sans', sans-serif;
}

#fairtech {
    background-color: #b6d5d0;
    color: white;
    width: fit-content;
    padding: 5px;
}

#nebuleuse {
    background-color: #85d7ef;
    color: white;
    width: fit-content;
    padding: 5px;
}

#tutoriels {
    background-color: #fdcd33;
    color: white;
    width: fit-content;
    padding: 5px;
}

#italic {
    font-style: italic;
}

section.blog h3 {
    font-size: larger;
    font-weight: bold;
}

section.blog a {
    color: #85d7ef;
    font-weight: bold;
}

p {
    font-family: sans-serif;
    margin-bottom: 1em;
}

.programme h3{
  font-size: 150%;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ede1d5;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


div.timeline{
  left: 50% !important;
}

section.siteinternet{
  background-image: url("https://res.cloudinary.com/liono/image/upload/v1669826663/site%20Liono/imageordinateur_apegfe.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

section.data{
  background-image: url("https://res.cloudinary.com/liono/image/upload/v1652262055/site%20Liono/pexels-manuel-geissinger-325229-ConvertImage_rqi3lk.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}